* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}


.navbar {
  display: flex;
  background-color: #5e0000;
}


.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  margin: 20px;
  text-shadow: #f1f1f1 1px 1px 2px;
}


.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.container {  
  display: flex;
  flex-wrap: wrap;
}


.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}


.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

footer {
  padding: 20px;
  text-align: center;
  background: #5e0000;
}

@media screen and (max-width: 700px) {
  .container, .navbar {   
    flex-direction: column;
  }
}

.container2 {
    text-align: center;
}

.board {
    display: inline-grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
}

button {
    margin-top: 20px;
    font-size: 18px;
}