* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  background-color: #5e0000;
}


.navbar {
  display: flex;
  background-color: #5e0000;
}


.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  margin: 20px;
  text-shadow: #f1f1f1 1px 1px 1px;
  
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar h1 {
  padding: 5px 10px;
  margin: 20px;
  color: whitesmoke;
}

.container {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}


.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}


.Box {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

footer {
  padding: 20px;
  text-align: center;
  background: #5e0000;
  color: whitesmoke;
}

@media screen and (max-width: 700px) {
  .container, .navbar {   
    flex-direction: column;
  }
}

.container2 {
    text-align: center;
}

.board {
    display: inline-grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
}

button {
    margin-top: 20px;
    font-size: 18px;
}
#box { 
  height: 50px; 
  width: 50px; 
  background-color: blue; 
  position: relative; 
  animation-name: frem-og-tilbake; 
  animation-duration: 4s; 
  animation-iteration-count: infinite; 
  animation-direction: alternate;
  border-radius: 1cm;
  padding-left: 0.2cm;
  rotate: 90deg;
} 
   @keyframes frem-og-tilbake { 
    0% { 
  left: 0px; 
       } 
  100% { 
  left: 430px; 
  } 
} 